body {
    background-color: #D2D9D8;
    color: #b84c22;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
    font-family: "Libre Baskerville";
    
}
h1 {
    font-size: 32pt;
}

h2{
    font-size: 26pt;
}

header {
    text-align: center;
}
/* Hero Section */

#hero, footer{
    background-color: #557373;
    text-align: center;
    padding:15px;
    color: #D2D9D8;
    box-shadow: 2px 2px 8px 2px #000000;

}

#hero img{
    width: 280px;

}
/*Bio section */
#bio{
    text-align: center;
    font-size :20px;
}
/* Hobby Section */
#hobbies{
    text-align:center;
    list-style: inside;
    font-size: 20px;

}
/* Gallery Section*/
#gallery {
    border: 5px double #253b40;
    text-underline-position: below;
    margin-bottom:2rem; 
    font-size: 20px;
}

#gallery img {
    max-width: 100%;
    max-height: 640px;
}

#gallery figure {
    text-align: center;
}

/* Literary Section */

#lit {
    border: 5px double #253b40;
    outline-offset: 0px;   
    margin-bottom: 2rem;
    font-size: 18px;
}

#lit div{
    padding:2rem;
    max-width: 55rem;
    margin:0 auto;
    text-indent: 2rem;


}
/* footer Section */

footer{
    text-align: center
}
