body {
    background-color: #D2D9D8;
    color: #BA5D49;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
    font-family: "Libre Baskerville";
    
}
h1 {
    font-size: 32pt;
}

header {
    text-align: center;
}

#hero, footer{
    background-color: #557373;
    text-align: center;
    padding:15px;
    color: #D2D9D8;

}
/* Hero Section */
#hero img{
    width: 280px;

}
/*Bio section */
#bio{
    text-align: center;
    font-size :20px;
}
/* Hobby Section */
#hobbies{
    text-align:center;
    list-style: inside;

}
/* Gallery Section*/
#gallery {
    border: 5px double #253b40;
       
    margin-bottom:2rem; 
}

#gallery img {
    max-width: 100%;
    max-height: 640px;
}

#gallery figure {
    text-align: center;
}

#lit {
    border: 5px double #253b40;
    outline-offset: 0px;   
    margin-bottom: 2rem;
}

#lit div{
    padding:2rem;
    max-width: 55rem;
    margin:0 auto;


}


footer{
    text-align: center
}
